*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* background-color: aquamarine; */
    background-image: url(img/glz2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}

.container{
    margin-top: 50px;
    padding: 0;
    /* background-color: rgb(196, 232, 54); */
}

.game_name_con{
    display: grid;
    justify-items: center;
    margin: 100px;
}

.game_name_txt{
    font-size: 70px;
    color: gold;
}

.sub_game_name_txt{
    font-size: 30px;
    color: crimson;
}

.home_menu_con{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    margin-top: 100px;
}

.home_menu_btn{
    cursor: pointer;
    width: 400px;
    font-size: x-large;
    padding: 5px 10px;
    margin: 10px;
}

.show_score{
    /* background-color: aqua; */
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px 0px 30px 0px;
}

.picked_info{
    /* background-color: deeppink; */
    display: grid;
    /* grid-template-columns: 1fr; */
    justify-content: center;
    align-items: center;
    /* height: 300px;
    width: 300px;
    margin: 40px;
    padding: 20px; */
}

.name_txt{
    background-color: white;
    display: flex;
    justify-content: center;
    padding: 10px 0px;
}

.picked_img{
    background-color: white;
    margin: 30px 0px;
}

.score_txt{
    display: flex;
    background-color: white;
    justify-content: center;
    padding: 10px 0px;
}

.vs_con{
    display: grid;
    /* background-color: blueviolet; */
    justify-content: center;
}

#result_txt{
    display: flex;
    justify-content: center;
    background-color: white;
}

#vs_img{
    margin-top: 20px;
}

.choice_con{
    /* background-color: darkblue; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice_btn{
    padding: 10px;
    margin: 10px 10px;
    transform: rotateY(360deg);
    transition: transform 0.5s
}

.choice_btn:hover {
    cursor: pointer;
    /* background-color: yellow; */
    transform: rotateY(180deg);
    transition: transform 0.75s
  }

.back_btn_con{
    display: grid;
    justify-content: center;
    margin-top: 30px;
  }

.back_btn{
    font-size: x-large;
    padding: 5px 10px;
}


